<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
    <title>Registraion Form</title>
  </head>
  <body>
    <form action="#" class="form">
      <h1 class="text-center">Registration Form</h1>
      <!-- Progress bar -->
      <div class="progressbar">
        <div class="progress" id="progress"></div>
        
        <div
          class="progress-step progress-step-active"
          data-title="Intro"
        ></div>
        <div class="progress-step" data-title="Contact"></div>
        <div class="progress-step" data-title="ID"></div>
        <div class="progress-step" data-title="Password"></div>
      </div>

      <!-- Steps -->
      <div class="form-step form-step-active">
        <div class="input-group">
          <label for="username">Fisrtname</label>
          <input type="text" name="username" id="username" />
        </div>
        <div class="input-group">
          <label for="username">Lastname</label>
          <input type="text" name="username" id="username" />
        </div>
        <div class="input-group">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" />
        </div>

        
 <div class="input-group">
          <label>Gender</label>
         <select
          id="status" name="gender">

          <option value="Select">Select</option>
          <option value="Male">Male</option>
          <option value="FeMale">FeMale</option>
          <option value="Others">Others</option>
        </select>
      </div>
        <div class="">
          <a href="#" class="btn btn-next width-50 ml-auto">Next</a>
        </div>
      </div>
      <div class="form-step">
        <div class="input-group">
          <label for="phone">Phone</label>
          <input type="text" name="phone" id="phone" />
        </div>
        <!--  -->
         <div class="input-group">
          <label for="phone">Alternative PhoneNum</label>
          <input type="text" name="phone" id="phone" />
        </div>
        <div class="input-group">
          <label for="username">Peramennt Address</label>
          <input type="text" name="username" id="username" />
        </div>

        <!--  -->
        <div class="input-group">
          <label for="Temporary Address">Temporary Address</label>
          <input type="text" name="tAddress" id="tAddress" />
        </div>
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
          <a href="#" class="btn btn-next">Next</a>
        </div>
      </div>
      <div class="form-step">
        <div class="input-group">
          <label for="dob">Date of Birth</label>
          <input type="date" name="dob" id="dob" />
        </div>
<!--  -->

         <div class="input-group">
          <label>Job Type</label>
         <select
          id="status" name="jobType">

          <option value="Select">Select</option>
          <option value="Permanent">Permanent</option>
          <option value="Full Time">Full Time</option>
          <option value="Contaract">Contaract</option>
        </select>
      </div>
      

        <div class="input-group">
         <label>Job Role</label>
          <select
          id="jobRole" name="jobRole">
                   <option value="Select">Select</option>
                    <option value="java Developer">java Developer</option>
                    <option value="Python developer">Python developer</option>
                    <option value="UI developer">UI developer</option>
                </select>
            </div>   



              <div class="input-group">
         <label>Experience</label>
                 <select
                    id="experience" name="experience">

                    <option value="Select">Select</option>

                    <option value="Fresher">Fresher</option>
                    <option value="one year">one year</option>
                    <option value="Two years">Two years</option>
                    <option value="Three years">Three years</option>

                    <option value="Four Above">Four Above</option>
                </select>
            </div>
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
          <a href="#" class="btn btn-next">Next</a>
        </div>
      </div>
      <div class="form-step">
<!--  -->
<div class="input-group">
         <label for="Write About Us">Write About Us</label>
             <input
                    type="text" th:field="*{about}" class="form-control" id="about"
                    placeholder="Write About"> <span
                    th:if="${#fields.hasErrors('about')}" th:errors="*{about}"
                    class="text-danger"></span>
            </div>

            <div class="input-group">
         <label for="Write About Us">Interview Status</label>
            
                <select id="status" name="status">

                    <option value="Select">Select</option>
                    <option value="Ready to take Interview">Ready to take
                        Interview</option>
                    <option value="Interview Completed">Interview Completed</option>
                    <option value="Postponed Interview">Postponed Interview</option>
                    <option value="Not eligible">Not eligible</option>
                    <option value="Selected">Selected</option>
                </select>
            </div>
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
          <input type="submit" value="Submit" class="btn" />
        </div>
      </div>
    </form>
  </body>
</html>
